---
title: "Test comparison ODK forms"
author: "H. Langet"
date: 'September 25th, 2023'
format:
  html:
    code-fold: true
---

In [1]:
import pandas as pd
import os
import numpy as np
import form

# SPA exit interview comparisons

In [2]:
in_xlsx1 = r"C:\Users\langhe\switchdrive\Institution\TIMCI\1 Project details\11 DM\3 ODK\odk_forms\06 Tanzania\2-SPA-timeflow\02-TIMCI-SPA-CGEI-ref-form\02-TIMCI-SPA-CGEI-ref-form.xlsx"
in_xlsx2 = r"C:\Users\langhe\switchdrive\Institution\TIMCI\1 Project details\11 DM\3 ODK\odk_forms\05 Senegal\2-SPA-timeflow\02-TIMCI-SPA-CGEI-ref-form\02-TIMCI-SPA-CGEI-ref-form.xlsx"
f1 = form.Form(in_xlsx1,
               survey = "SPA exit interview")
f2 = form.Form(in_xlsx2,
               survey = "SPA exit interview")

## Generic comparison

In [3]:
print(f1.compare(f2))

Form ID is identical: 02-TIMCI-SPA-cgei
Versions are different: (0.445,) and (0.441,)

## Comparison based on variable names

### Added variable names

In [4]:
f1.addedQuestions(f2)

,row,name,type,label,group_id,group_lbl
0,49,i4_3,select_one YESNO,f2) Were you given a paper or record to take w...,i4,
1,63,h4_2,select_one TREATMENT,g1) Can you show me all the medicines and pres...,h4,
2,112,m3_2,integer,k3) How many children under age 5 years curren...,t03,
3,116,m3_5,select_one COOKING_FUEL,k6) What type of stove do you use for cooking ...,t03,
4,117,m3_5o,text,k6.a) Please specify.,t03,

### Removed variable names

In [5]:
f1.removedQuestions(f2)

Empty DataFrame
Columns: [row, type, name, label::English (en)_x, group_id_x, group_lbl_x]
Index: []

### Modified labels for the same variable name

In [6]:
f1.modifiedLabel(f2)

Empty DataFrame
Columns: [name, row1, row2, label1, label2]
Index: []

## Comparison based on labels

# RCT Day 0 form comparison

In [7]:
in_xlsx1 = r"C:\Users\langhe\switchdrive\Institution\TIMCI\1 Project details\11 DM\3 ODK\odk_forms\06 Tanzania\1-RCT-LS\01a-TIMCI-CRF-Facility-ref-form\01a-TIMCI-CRF-Facility-ref-form.xlsx"
in_xlsx2 = r"C:\Users\langhe\switchdrive\Institution\TIMCI\1 Project details\11 DM\3 ODK\odk_forms\05 Senegal\1-RCT-LS\01a-TIMCI-CRF-Facility-Senegal-form\01a-TIMCI-CRF-Facility-Senegal-form.xlsx"
f1 = form.Form(in_xlsx1,
               survey = "RCT/LS day 0 form")
f2 = form.Form(in_xlsx2,
               survey = "RCT/LS day 0 form")

In [8]:
f1.addedQuestions(f2)

,row,name,type,label,group_id,group_lbl
0,118.0,consent_img,image,d6) Please take a picture of the signed consent.,consent,
1,172.0,a4_c_6,select_one_from_file all_districts.csv,g11) Can you specify in which area you are liv...,t02b,
2,173.0,a4_c_7,text,g11.a) Please specify.,t02b,
3,174.0,location_name,calculate,Location name,t02b,
4,175.0,location_type,calculate,Location type,t02b,
5,176.0,location_rurb,calculate,Rural or urban,t02b,
6,205.0,cp_start,calculate,NaN,ttt05a,
7,206.0,cp_start_dec,calculate,NaN,ttt05a,
8,207.0,cp_start_disp,calculate,NaN,ttt05a,
9,218.0,injection,select_one YESNO_FULL,k5) Did ${child_fname} receive an injection?,t09a1,
10,219.0,injection_types,select_multiple INJECTION_TYPES,k6) What type of injection was it?,t09a1,
11,220.0,injection_typeso,text,k6.a) Please specify.,t09a1,
12,245.0,paracetamol_route,select_one PARACETAMOL_ROUTE,k14) Please indicate the administration route ...,t09a1,
13,246.0,salbutamol_route,select_one DRUG_ROUTE,k19) Please indicate the administration route ...,t09a1,
14,267.0,b2_3,integer,i9) What is the estimated amount of money you ...,t04a,
15,330.0,i2_1a,select_one REFERRAL_ADVICE,l13) What type of referral was it?,t09a2,
16,338.0,h2_2ayn,select_one YESNO,l17) Were treatments recorded for ${child_fnam...,t09a2,
17,340.0,amoxicillin_hf,select_one YESNO,Amoxicillin (Amox) OR Clamoxyl OR Bactox OR Al...,t09a2,
18,341.0,penig_hf,select_one YESNO,Benzylpenicillin OR Benpen,t09a2,
19,342.0,ceftriaxone_hf,select_one YESNO,Ceftriaxone OR Rocephin,t09a2,
20,343.0,ciprofloxacin_hf,select_one YESNO,Ciprofloxacin OR Ciproxin OR Cifran,t09a2,
21,344.0,ciprofloxacin_route_hf,select_one CIPROFLOXACIN_ROUTE,Please indicate the administration route of ci...,t09a2,
22,345.0,gentamicin_hf,select_one YESNO,Gentamicin OR Gentalline,t09a2,
23,346.0,gentamicin_route_hf,select_one GENTA_ROUTE,Please indicate the administration route of ge...,t09a2,
24,347.0,metronidazol_hf,select_one YESNO,Metronidazol OR Flagyl,t09a2,
25,348.0,metronidazol_route_hf,select_one DRUG_ROUTE,Please indicate the administration route of Me...,t09a2,
26,349.0,ampicillin_hf,select_one YESNO,Ampicillin OR Totapen,t09a2,
27,350.0,azithromycin_hf,select_one YESNO,Azithromycin OR Zithromax,t09a2,
28,351.0,benzathine_hf,select_one YESNO,Benzathine benzylpenicillin (benzathine penici...,t09a2,
29,352.0,aclav_hf,select_one YESNO,Co-amoxiclav OR Aclav OR Soclav OR Augmentin,t09a2,
30,353.0,cotrimoxazole_hf,select_one YESNO,Co-trimoxazole OR Septrin OR Bactrim,t09a2,
31,354.0,antibiotics_hf,select_multiple ANTIBIOTICS,l19) Please indicate if any of the following a...,t09a2,
32,355.0,antimalarials_hf,select_multiple ANTIMALARIALS,l20) Please indicate if any of the following a...,t09a2,
33,356.0,artesunate_route_hf,select_one ARTESUNATE_ROUTE,l20.a) Please indicate the administration rout...,t09a2,
34,357.0,quinine_route_hf,select_one DRUG_ROUTE,l20.b) Please indicate the administration rout...,t09a2,
35,358.0,h2_2a,select_multiple_from_file medicines1.csv,l21) Please select all the other drugs and tre...,t09a2,
36,359.0,h2_2ao,text,l21.a) Please specify.,t09a2,
37,360.0,paracetamol_route_hf,select_one PARACETAMOL_ROUTE,l20) Please indicate the administration route ...,t09a2,
38,361.0,salbutamol_route_hf,select_one DRUG_ROUTE,l25) Please indicate the administration route ...,t09a2,
39,393.0,f2_5,integer,o5) Haemoglobin level (in g/dL),tt06a,

### Removed variable names

In [9]:
f1.removedQuestions(f2)

,row,type,name,label::English (en)_x,group_id_x,group_lbl_x
0,13.0,select_one_from_file districts.csv,district1,a1) Please select the current district,hf,
1,14.0,select_one_from_file facilities.csv,fcode,a2) Please select the current facility,hf,
2,128.0,calculate,arm,Intervention,consent,
3,137.0,calculate,contact_start,NaN,t02b,
4,138.0,calculate,contact_start_dec,NaN,t02b,
...,...,...,...,...,...,...
69,425.0,select_one TB_STATUS,c3_3a,s4) Is the TB status recorded?,t05b,
70,427.0,select_one YESNO,c3_6a,s6) Are any disabilities recorded?,t05b,
71,431.0,select_multiple DISABILITIES,c3_6,s7) What disability is recorded?,t05b,
72,432.0,text,c3_6o,s7.a) Please specify,t05b,
73,435.0,text,varia,t1) Any other thing you would like to mention ...,t05b,

In [10]:
f1.modifiedLabel(f2)

,name,row1,row2,label1,label2
0,a4_c_9a,147,169,f8) Can you mention the name of your village l...,g8) Is there a focal point within the communit...
1,a4_c_9,148,170,f8.a) Can you mention the name of your balozi ...,g9) Can you indicate the name of the focal poi...
2,a4_c_4,149,171,f9) In what division are you living?,g10) In what area / village are you living?
3,referral_note,291,216,l3) Were you given a paper or record to take w...,k3) Do you have a referral note ?
4,h2_1a,296,221,l6) Did the healthcare provider give you drugs...,k7) Did the healthcare provider give you a dru...
5,h2_1b,297,222,l6.a) Can I take a picture of your drugs/presc...,k8) Can I take a picture of your drug prescrip...
6,h2_1c,298,223,l6.b) Please take a picture of the prescriptio...,k9) Please take a picture of the drug prescrip...
7,b1_9,305,211,m3) What type of visit was it according to the...,k1) What type of visit was it?
8,amoxicillin,314,225,n2) Amoxicillin (Amox) OR Amoxil/Amoxillin DT,Amoxicilline (Amox) OU Clamoxyl OU Bactox OU A...
9,aclav,315,237,n3) Amoxicillin + clavulanic acid OR Amoxiclav...,Amoxicilline + Acide Clavulanique (Aclav) OU C...
10,ampicillin,316,234,n4) Ampicillin OR Ampiclox,Ampicilline (Ampi) OU Totapen
11,azithromycin,318,235,n5) Azithromycin OR Zithromax,Azithromycine OU Zithromax
12,benzathine,319,236,n6) Benzathine benzylpenicillin (benzathine pe...,Benzathine-benzylpénicilline OU Extencilline O...
13,penig,320,226,n7) Benzylpenicillin (Benpen) OR Penicillin G/...,Benzylpenicilline OU PéniG
14,ceftriaxone,321,227,n8) Ceftriaxone OR Rocephin,Ceftriaxone OU Rocéphine
15,ciprofloxacin,322,228,n9) Ciprofloxacin OR Cipon,Ciprofloxacine OU Ciproxin OU Cifran
16,cotrimoxazole,324,238,n10) Cotrimoxazol (CTX / SMX-TMP / CMX) OR Sep...,Cotrimoxazol (Cotri/Cotrim) OU Bactrim
17,metronidazol,325,232,n11) Flagyl OR Metronidazole (Metro),Metronidazole OU Flagyl
18,gentamicin,327,230,n12) Gentamicin (Genta),Gentamicine OU Gentalline
19,antibiotics,329,239,n13) Please indicate if any of the following a...,k11) Please indicate if any of the following a...
20,antimalarials,330,240,n14) Please indicate if any of the following a...,k12) Please indicate if any of the following a...
21,h2_2,336,243,n20) Please select all the other treatments th...,k13) Please select all the other drugs/treatme...
22,rxsevere,345,305,o2) Severe disease / severe febrile disease,l2) Severe disease / severe febrile disease / ...
23,e2_2a,380,370,p4) SpO2 value,m4) SpO2 value (in %)
24,f2_10a,409,395,r6a) Choose the unit of Blood glucose value,o6) Blood glucose value (in mg/dL)

# Test for choices

In [11]:
#choices_df["list_name"].dropna().unique()